body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-center-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card-title {
    padding-left: 20px;
    padding-top: 20px;
}

.d-none {
    display: none !important;
}

.pokedex image {
    width: 200px;
    padding: 8px;
}

.nav-img {
    object-fit: contain;
    width: 50px;
    height: 50px;
    margin-left: 24px;
    transform: translate(0, 6px);
}

.nav-text {
    margin: 0;
    margin-left: 1em;
    font-size: 2.5em;
    text-decoration-color: rgba(255, 255, 255, 0);
    color: white;
    font-weight: 900;
    letter-spacing: 4px;
}

.nav-textsmall {
    margin: 0px 4px;
    color: #f14e4e;
}

.nav-container {
    display: flex;
    position: fixed;
    align-items: baseline;
    background: #0c1c3e;
    text-decoration: none;
    padding-top: 4px;
    padding-bottom: 4px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
}

input, label{
    background-color: #f14e4e;
    border: none;
    padding: 5px;
    color: white;
    font-size: large;
    letter-spacing: 1px;
    outline: none;
    text-shadow: 0 0.04em 0.04em rgb(0 0 0 / 35%);
}

.flex {
    display: flex;
}

.overview {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.overview image {
    width: 100px;
    z-index: 2;
}

.container-overview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 3em;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    border-radius: calc(1.25rem - 1px);
    margin: 2px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.card-wrapper {
    cursor: pointer;
    margin-top: 16px;
    margin-left: 2px;
    margin-right: 2px;
    position: relative;
    border-radius: calc(8px);
    height: 400px;
    width: 250px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "image"
        "text";
}

.card-image {
    border-radius: calc(8px);
    margin-top: 20px;
    padding: 5px;
    height: 100%;
    width: calc(100% - 40px);
    grid-area: image;
    overflow: hidden;
    justify-self: center;
    background-color: white;
}


.card-text {
    width: calc(100% - 40px);
    grid-area: text;
    overflow: hidden;
    justify-self: center;
    padding-left: 20px;
}

.interactive-wrapper{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 5.5em 3em 0 3em;
}

/* here some css from the loader*/
.u-rubber-band {
    -webkit-animation: rubberBand 1200ms infinite;
    animation: rubberBand 1200ms infinite;
}

section article {

    padding-bottom: 30px;
}

.u-text-center {
    text-align: center;
}

.loader-container {
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(19px);
}

.addPokemon{
    cursor: pointer;
    font-size: larger;
    background-color:#f14e4e;
    display:inline-block;
    border:0.16em solid rgba(255,255,255,0);
    box-sizing: border-box;
    text-decoration:none;
    font-weight:300;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    color: white;
}

.bouncy {
    animation:bouncy 5s infinite linear;
    position:relative;
}

    /* Pokeball draw code */
.o-pokeball {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: solid 2px black;
    position: relative;
    background: linear-gradient(to bottom, #EEEEEE 0%, #FFFFFF 100%);
    margin: 10px auto;
}

.o-pokeball:before, .o-pokeball:after {
    content: "";
    display: block;
}

.o-pokeball, .o-pokeball:before, .o-pokeball:after {
    transition: all 600ms cubic-bezier(0.67, 0.4, 0.36, 0.75);
}

.o-pokeball:before {
    width: 50px;
    height: 24px;
    border-bottom: solid 2px black;
    border-radius: 25px 25px 0 0;
    background: linear-gradient(to bottom, #d10000 0%, #ff0000 50%);
}

.o-pokeball:after {
    content: "";
    width: 10px;
    height: 10px;
    background: linear-gradient(to bottom, #fff 0%, #ccc 100%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px black, 0 0 0 2px #ddd, 0 0 0 3.5714285714px black, 0 0 5px 2.9411764706px rgba(0, 0, 0, 0.4);
}

@keyframes bouncy {
    0%{top:0em}
    40%{top:0em}
    43%{top:-0.9em}
    46%{top:0em}
    48%{top:-0.4em}
    50%{top:0em}
    100%{top:0em;}
}

@media only screen and (max-width: 1100px) {
    .container-overview {
        grid-template-columns: 1fr 1fr 1fr;
}
}
@media only screen and (max-width: 900px) {
    .container-overview {
        margin: 0 2em;
        grid-template-columns: 1fr 1fr;
}
}
@media only screen and (max-width: 500px) {
    .container-overview {
        margin: 0 1em;
        grid-template-columns: 1fr;
}
}
@media only screen and (max-width: 676px) {
    .card-wrapper {
        height: 285px;
        width: 171px;
    }
}