body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.flex-center-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.card-title {
    padding-left: 20px;
    padding-top: 20px;
}

.d-none {
    display: none !important;
}

.pokedex image {
    width: 200px;
    padding: 8px;
}

.nav-img {
    object-fit: contain;
    width: 50px;
    height: 50px;
    margin-left: 24px;
    transform: translate(0, 6px);
}

.nav-text {
    margin: 0;
    margin-left: 1em;
    font-size: 2.5em;
    text-decoration-color: rgba(255, 255, 255, 0);
    color: white;
    font-weight: 900;
    letter-spacing: 4px;
}

.nav-textsmall {
    margin: 0px 4px;
    color: #f14e4e;
}

.nav-container {
    display: flex;
    position: fixed;
    align-items: baseline;
    background: #0c1c3e;
    text-decoration: none;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 3.5em;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3;
}

input, label {
    background-color: #f14e4e;
    border: none;
    padding: 5px;
    color: white;
    font-size: large;
    letter-spacing: 1px;
    outline: none;
    text-shadow: 0 0.04em 0.04em rgb(0 0 0 / 35%);
    max-width: 115px;
}

.search-wrapper {
    display: flex;
    border: solid white;
}

.overview {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.overview image {
    width: 100px;
    z-index: 2;
}

.container-overview {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin: 1em 8em;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    border-radius: calc(1.25rem - 1px);
    margin: 2px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.card-wrapper {
    cursor: pointer;
    margin: auto;
    position: relative;
    border-radius: calc(8px);
    height: 400px;
    width: 250px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "image"
        "text";
}

.card-image {
    border-radius: calc(8px);
    margin-top: 20px;
    padding: 5px;
    height: 100%;
    width: calc(100% - 40px);
    grid-area: image;
    overflow: hidden;
    justify-self: center;
    background-color: white;
}


.card-text {
    width: calc(100% - 40px);
    grid-area: text;
    overflow: hidden;
    justify-self: center;
    padding-left: 20px;
}

.id-card {
    padding: 5px;
    border-radius: 100%;
    border: solid black 0.1px;
    margin-right: 20px;
}

/* .wrapper {
    margin: 5em 0.5em 0 0.5em;
} */

.interactive-wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: solid #0c1c3e 8px;
    margin-top: 5em;
    padding: 0.5em 2.5em;
}

.addPokemon {
    cursor: pointer;
    font-size: larger;
    background-color: #f14e4e;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    color: white;
    border: solid white;
    padding: 10px;
}

.bouncy {
    animation: bouncy 5s infinite linear;
    position: relative;
}

@keyframes bouncy {
    0% {
        top: 0em
    }
    40% {
        top: 0em
    }
    43% {
        top: -0.9em
    }
    46% {
        top: 0em
    }
    48% {
        top: -0.4em
    }
    50% {
        top: 0em
    }
    100% {
        top: 0em;
    }
}


@media only screen and (max-width: 1000px) {
    .container-overview {
        margin: 1em 0em;
    }
    .interactive-wrapper {
        padding: 0.5em 1.5em;
    }
}

@media only screen and (max-width: 480px) {
    .interactive-wrapper {
       flex-direction: column;
       align-items: baseline;
       padding: 1.5em 0.5em 0.5em 0.5em;
    }
}