body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.flex-center{
    display: flex;
    justify-content: center;
}

h2 {
    padding: 20px;
}

#pokedex {
    
  
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkBbsuOzDgIDNrUZOTEaFN0D7dnQj1F_46-w&usqp=CAU");
    background-repeat: no-repeat; 
    color: white;   */
}

.bg-fire {
    background-color: rgb(255 0 0 / 81%);
}

.bg-grass {
    background-color: rgb(72, 208, 124);
}

.bg-water {
    background-color: rgb(134, 202, 254);
}

.bg-electric {
    background-color: rgb(255, 245, 111);
}

.bg-rock {
    background-color: rgb(179, 172, 138);
}

.bg-psychic {
    background-color: rgba(124, 82, 140, 0.808);
}

.bg-poison {
    background-color: rgb(8 39 7 / 63%);
}

.bg-normal {
    background-color: rgba(248, 81, 20, 0.76);
}

.bg-ghost {
    background-color: lightgray;
}

.bg-ground {
    background-color: rgba(83, 46, 16, 0.692);
}

.bg-fighting {
    background-color: rgba(182, 124, 0, 0.65);
}

.bg-bug {
    background-color: rgba(172, 255, 47, 0.74);
}

.bg-fairy {
    background-color: git rgb(236, 213, 229);
}

.bg-ice {
    background-color: rgb(231, 231, 218);
}

.bg-dragon {
    background-color: rgba(4, 0, 255, 0.5);
}


.d-none {
    display: none !important;
}

#pokedex image {
    width: 200px;
    padding: 8px;
}

#nav-img {
    object-fit: contain;
    width: 50px;
    height: 50px;
}

#nav-img-header {
    width: 130px;
    height: 54px;
    margin-right: 25px;
    mix-blend-mode: multiply;
}

#nav-text {
    margin: 0;
    margin-left: 1em;
    font-size: 2.5em;
    text-decoration-color: rgba(255, 255, 255, 0);
    color: white;
    font-weight: 900;

}

#nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(201, 216, 236);
    text-decoration: none;
    padding: 4px;
}

.div-left-nav {
    align-items: center;
    display: flex;
    margin-left: 25px;
}

.overview {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.overview image {
    width: 100px;
    z-index: 2;
}

.container-overview {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 50px;
}

.card-img-overlay {
    /* background: linear-gradient(294deg, #8c8c9c, transparent);*/
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    border-radius: calc(1.25rem - 1px);
    margin: 2px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.card-wrapper {
    border-radius: calc(8px);
    margin: 2px;
    height: 400px;
    width: 250px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "image"
        "text";
}

.card-image {
    border-radius: calc(8px);
    margin-top: 20px;
    height: 100%;
    width: calc(100% - 40px);
    grid-area: image;
    overflow: hidden;
    justify-self: center;
    background-color: white;
}

h2 {
    padding: 20px;
}

.card-text {
    width: calc(100% - 40px);
    grid-area: text;
    overflow: hidden;
    justify-self: center;
    padding-left: 20px;
}

.main-overlay {
    justify-content: center;
    display: flex;
    backdrop-filter: blur(19px);
    z-index: 10;
    position: fixed;
    top: 62px;
    right: 0;
    bottom: 0;
    left: 0;
    animation: zoom 1000ms ease-in-out;
}

.flex-column {
    height: 500px;
    width: 310px;
    display: flex;
    flex-direction: column;
    background-color: rgb(220, 10, 45);
    border-radius: calc(8px);
    border: 1px solid rgb(10, 10, 10);

}

.middle-slice {
    height: 500px;
    width: 80px;
    background-color: rgb(220, 10, 45);
    border: 1px solid rgb(10, 10, 10);
    border-radius: calc(4px);
}
.blue-sqare-container{
    justify-content: center;
    padding: 12px;
    display: flex;
    flex-wrap:wrap;
}
.blue-sqare{
    
    border: solid black 0.5px;
    height: 64px;
    width: 64px;
    background-color: cornflowerblue;
}
.rounded-top-left{
    border-top-left-radius: 8px;
}
.rounded-top-right{
    border-top-right-radius: 8px;
}
.rounded-bottom-left{
    border-bottom-left-radius: 8px;
}
.rounded-bottom-right{
    border-bottom-right-radius: 8px;
}
#img-pokedex {
    border-radius: calc(8px);
    margin-top: 28px;
    width: 164px;
    height: 164px;
    overflow: hidden;
    justify-self: center;
    background-color: rgb(167, 195, 94);
    border: solid black 0.1px;
}

.white-gameboy {
    display: flex;
     background-color: white;
    height: 220px;
    width: 220px;
    justify-content: center;
    border: solid black 0.1px;
}

#pokemon-name{
    background-color: rgb(167, 195, 94);
    border: solid black 0.1px;
    padding: 9px;
    width: 164px;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;